@{
    ViewBag.Title = "About";
}



<div>

    <h2>Bus Ticket Booking</h2>
    <p>
        Quick_Bus travels is popular due to its adeqaute, safe and on time bus services.
        Several types of buses run by Quick_Bus travels help in contacting different routes.
        Quick_Bus travels proficiently strives in maintaining its quality and delivering an affordable
        bus travel experience in the long run..
    </p>

    <h2>
        Bus Services
    </h2>
    <p>
        Quick_Bus travel has a good frequency of buses that run all throughgout the day promoting
        safety and comfort of passengers.
        Travels are known for assisting passengers consistently.Travellers prefer Quick_Bus travels due to its convenient and
        on time bus services across various city routes..
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

</div>
