@{
    ViewBag.Title = "Contact";
}

<address>
    
    <abbr title="Phone">P:</abbr>
    8861975919,
    6361293183
</address>

<address>
    <strong>For more Queries Mail to:</strong> <br />  <a href="mailto:Support@example.com">harshitha@example.com</a><br />
    <strong></strong> <a href="mailto:Marketing@example.com">vardhini@example.com</a>
</address>