@{
    ViewBag.Title = "Contact";
}

<html>
<head>
    <style>
        /*.div1 {
            width: 300px;
            height: 100px;
            border: 1px solid blue;
        }*/

        .div2 {
            width: 700px;
            height: 300px;
            padding: 50px;
            border: 1px solid red;
            text-align:center;
            margin:auto;
        }
    </style>
</head>
<body>

    <div class="div2">
        <address>
            
            <abbr title="Phone">P:</abbr>
            8861975919,
            6361293183
        </address>

        <address>
            <strong>For more Queries Mail to:</strong> <br />  <a href="mailto:Support@example.com">harshitha@example.com</a><br />
            <strong></strong> <a href="mailto:Marketing@example.com">vardhini@example.com</a>
        </address>
    </div>

</body>
</html>
