@*<div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Quick_Bus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("BusDetails", "Index", "BusDetails")</li>
            <li>@Html.ActionLink("Boarding Points", "Index", "BoardingPoints")</li>
        </ul>
        </div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: #eee5e9;
        }
        .grid{
            margin: 80px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 30px;
            align-items: center;
        }
        .grid > article{
            background: #eee5e9;
            border: none;
            box-shadow: 2px 2px 6px 0px rgba(0, 0,0,0.3);
            border-radius: 20px;
            text-align: center;
            width: 250px;
            transition: transform .3s;
        }
        .grid > article:hover{
            transform: translate(5px);
            box-shadow: 2px 2px 26px 0px rgba(0, 0,0,0.3);
        }
        .grid >article img{
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .text
        {
            padding: 0 20px 20px;
        }
        .text h3{
            text-transform: uppercase;
        }
        .text button{
            background: #ef6f6c;
            border-radius: 20px;
            border: none;
            color: #fff;
            padding: 10px;
            width: 100%;
            text-transform: uppercase;
            cursor: pointer;
        }
        @*@media(max-width:768px){
            .grid{
                grid-template-columns: repeat(2,1fr);
            }
        }
        @media(max-width:768px){
            .grid{
                     {

                 
                grid-template-columns: repeat(1,1fr);
            }
                     }
            .grid > article{
                {
                text-align: center;
            }
                }
        }*@
    </style>
</head>
<body>
    <div class="container">
        <main class="grid">
            <article>
                <form action="~/BusDetails/Create" method="post" class="form">
                    <img src="" alt="img">
                    <div class="text">
                        <h3></h3>
                        <p>hgfghjolikuhjgfdghkjl;' hgfdghjkllkjvcbnm,</p>
             
                        <button>
                            ADD BUS
                        </button>
                    </div>
                </form>
            </article>

            <article>
                <form action="~/Bookings/Index" method="post" class="form">
                    <img src="" alt="img">
                    <div class="text">
                        <h3></h3>
                        <p>hgfghjolikuhjgfdghkjl:' hgfdghjkllkjvcbnm,</p>
                        
                        <button>
                            BOOKING DETAILS
                        </button>
                    </div>
                </form>
            </article>

            <article>
                <form action="~/BoardingPoints/Index" method="post" class="form">
                    <img src="" alt="img">
                    <div class="text">
                        <h3></h3>
                        <p>hgfghjolikuhjgfdghkjl;' hgfdghjkllkjvcbnm,</p>
                        @*<input type="submit" class="submitBtn" value="Search" />*@
                        <button>
                            BOARDING DETAILS
                        </button>
                    </div>
                </form>
            </article>           
        </main>
    </div>
</body>
</html>